export(CompTransform)
export(ConfirmDnaSeq)
export(fasta)
export(gbk)
export(KmerGenerator)
export(pasc)
export(UpperCaser)
export(Vectorizer)
export(weighted.kur)
export(weighted.skew)
export(weighted.var)
